-# coding: UTF-8

!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
    %title= "ARE WE small YET?"

    = javascript_include_tag 'application'
    = stylesheet_link_tag 'application'

    %script
      - @records.each do |rec|
        = "data['#{rec.day}'] = #{rec.data};".html_safe

  %body
    %h1= "ARE WE <span class='small'>small</span> YET?".html_safe

    #graph-container
      #graph
      %span= "Lower is better"

    #footer
      = link_to "Sources on GitHub.", "https://github.com/CamJN/arewesmallyet"
